* text=auto !eol
/CHANGES.txt -text
/README.txt -text
accessions/Test/db.cfg -text
dashboards/static/css/forms.css -text
dashboards/static/css/reset.css -text
dashboards/static/css/styles.css -text
dashboards/static/css/typography.css -text
pipelines/Quick/bootstrap.py -text
pipelines/Quick/buildout.cfg -text
pipelines/Test/README.txt -text
profiles/Test/db.cfg -text
servers/devel/README.txt -text
/version.txt -text
